node_red_ETC.json
[
    {
        "id": "da524999.156cb8",
        "type": "template",
        "z": "1033d852.cbfa6",
        "name": "pdsend format",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"w\" {{payload}}|/usr/bin/pdsend 3000 192.168.1.115 udp",
        "x": 1252.5,
        "y": 557,
        "wires": [
            [
                "37e2ba8d.40d2fe"
            ]
        ]
    },
    {
        "id": "593bcd08.6ee734",
        "type": "template",
        "z": "1033d852.cbfa6",
        "name": "pdsend format",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"h\" {{payload}}|/usr/bin/pdsend 3000 192.168.1.115 udp",
        "x": 1253.5,
        "y": 599,
        "wires": [
            [
                "37e2ba8d.40d2fe"
            ]
        ]
    },
    {
        "id": "2fe04966.2efb66",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 947,
        "y": 650,
        "wires": [
            [
                "5610b580.a4c7cc"
            ]
        ]
    },
    {
        "id": "b49725a7.c80cf",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 937,
        "y": 696,
        "wires": [
            [
                "5610b580.a4c7cc"
            ]
        ]
    },
    {
        "id": "2605ba7d.5d2796",
        "type": "switch",
        "z": "1033d852.cbfa6",
        "name": "Is this flow enabled?",
        "property": "start-stop",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1162,
        "y": 751,
        "wires": [
            [
                "27188b88.a7e384"
            ]
        ]
    },
    {
        "id": "fbb1daa.3e42fa8",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "x": 952,
        "y": 751,
        "wires": [
            [
                "2605ba7d.5d2796",
                "54d83fcb.b2091"
            ]
        ]
    },
    {
        "id": "27188b88.a7e384",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "Generate Random Data",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1412,
        "y": 751,
        "wires": [
            [
                "c1b6c379.ed071"
            ]
        ]
    },
    {
        "id": "c1b6c379.ed071",
        "type": "debug",
        "z": "1033d852.cbfa6",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1632,
        "y": 751,
        "wires": []
    },
    {
        "id": "5b2dffed.77b858",
        "type": "debug",
        "z": "1033d852.cbfa6",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1352,
        "y": 671,
        "wires": []
    },
    {
        "id": "54d83fcb.b2091",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "",
        "func": "var enabled = flow.get('start-stop')||false;\nmsg.payload = enabled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1112,
        "y": 790,
        "wires": [
            [
                "cfae4794.e48b88"
            ]
        ]
    },
    {
        "id": "cfae4794.e48b88",
        "type": "debug",
        "z": "1033d852.cbfa6",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1272,
        "y": 790,
        "wires": []
    },
    {
        "id": "5610b580.a4c7cc",
        "type": "change",
        "z": "1033d852.cbfa6",
        "name": "Enable / Disable this flow",
        "rules": [
            {
                "t": "set",
                "p": "start-stop",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1136,
        "y": 676,
        "wires": [
            [
                "5b2dffed.77b858"
            ]
        ]
    },
    {
        "id": "b3b819f1.31cc5",
        "type": "mqtt out",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "menu",
        "qos": "",
        "retain": "",
        "broker": "7d5f6d43.156514",
        "x": 263.5,
        "y": 96,
        "wires": []
    },
    {
        "id": "cef26ed.f63639",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1010,
        "y": 23,
        "wires": [
            [
                "ac65b5b3.883b6"
            ]
        ]
    },
    {
        "id": "53644832.f4205",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1010,
        "y": 63,
        "wires": [
            [
                "ac65b5b3.883b6"
            ]
        ]
    },
    {
        "id": "ce16c360.fa8488",
        "type": "switch",
        "z": "1033d852.cbfa6",
        "name": "Is this flow enabled?",
        "property": "start-stop",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1235,
        "y": 118,
        "wires": [
            [
                "ec578fdf.2d06f8"
            ]
        ]
    },
    {
        "id": "68824c25.d8e064",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 1025,
        "y": 118,
        "wires": [
            [
                "ce16c360.fa8488",
                "727a04fb.49d4cc"
            ]
        ]
    },
    {
        "id": "ec578fdf.2d06f8",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "Generate Random Data",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1485,
        "y": 118,
        "wires": [
            [
                "345b4f1b.0c0c9"
            ]
        ]
    },
    {
        "id": "345b4f1b.0c0c9",
        "type": "debug",
        "z": "1033d852.cbfa6",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1704,
        "y": 64,
        "wires": []
    },
    {
        "id": "374dcf0d.673ca8",
        "type": "debug",
        "z": "1033d852.cbfa6",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1403,
        "y": 45,
        "wires": []
    },
    {
        "id": "727a04fb.49d4cc",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "",
        "func": "var enabled = flow.get('start-stop')||false;\nmsg.payload = enabled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1185,
        "y": 157,
        "wires": [
            [
                "a2b29af0.a2caa"
            ]
        ]
    },
    {
        "id": "a2b29af0.a2caa",
        "type": "debug",
        "z": "1033d852.cbfa6",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1345,
        "y": 157,
        "wires": []
    },
    {
        "id": "ac65b5b3.883b6",
        "type": "change",
        "z": "1033d852.cbfa6",
        "name": "Enable / Disable this flow",
        "rules": [
            {
                "t": "set",
                "p": "start-stop",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1209,
        "y": 43,
        "wires": [
            [
                "374dcf0d.673ca8"
            ]
        ]
    },
    {
        "id": "6f1e485e.98eb8",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "up",
        "topic": "menu",
        "payload": "up",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 89,
        "y": 29,
        "wires": [
            [
                "b3b819f1.31cc5"
            ]
        ]
    },
    {
        "id": "468dac3.9400a54",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "down",
        "topic": "",
        "payload": "down",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 88,
        "y": 64,
        "wires": [
            [
                "b3b819f1.31cc5"
            ]
        ]
    },
    {
        "id": "8673b084.4ca8f8",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "left",
        "topic": "",
        "payload": "left",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 88,
        "y": 99,
        "wires": [
            [
                "b3b819f1.31cc5"
            ]
        ]
    },
    {
        "id": "1e941505.e2f12b",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "right",
        "topic": "menu",
        "payload": "right",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 88,
        "y": 133,
        "wires": [
            [
                "b3b819f1.31cc5"
            ]
        ]
    },
    {
        "id": "fb792099.ce7818",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "a",
        "topic": "",
        "payload": "a",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 85.88888549804688,
        "y": 168.8888702392578,
        "wires": [
            [
                "b3b819f1.31cc5"
            ]
        ]
    },
    {
        "id": "430e22f2.a61c5c",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "echo ''",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "pdsend",
        "x": 1394.5,
        "y": 375,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "604c831a.2f454c",
        "type": "template",
        "z": "1033d852.cbfa6",
        "name": "pd send x ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"x\" {{payload}}|/usr/bin/pdsend 8200 192.168.1.115 udp",
        "x": 1235.5,
        "y": 336.5,
        "wires": [
            [
                "430e22f2.a61c5c"
            ]
        ]
    },
    {
        "id": "fa5f5cd8.a756e",
        "type": "template",
        "z": "1033d852.cbfa6",
        "name": "pd send y",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"y\" {{payload}}|/usr/bin/pdsend 8200 192.168.1.115 udp",
        "x": 1236,
        "y": 380,
        "wires": [
            [
                "430e22f2.a61c5c"
            ]
        ]
    },
    {
        "id": "d72a19f5.399828",
        "type": "mqtt in",
        "z": "1033d852.cbfa6",
        "name": "spirit_level/x",
        "topic": "spirit_level/x",
        "qos": "0",
        "broker": "7d5f6d43.156514",
        "x": 977.5,
        "y": 315,
        "wires": [
            [
                "9e04ff3c.e5ced8"
            ]
        ]
    },
    {
        "id": "10eceafb.751985",
        "type": "template",
        "z": "1033d852.cbfa6",
        "name": "pdsend z",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"z\" {{payload}}|/usr/bin/pdsend 8200 192.168.1.115 udp",
        "x": 1239.5,
        "y": 423,
        "wires": [
            [
                "430e22f2.a61c5c"
            ]
        ]
    },
    {
        "id": "3c2ae7e0.d7cdc",
        "type": "mqtt in",
        "z": "1033d852.cbfa6",
        "name": "spirit_level/y",
        "topic": "spirit_level/y",
        "qos": "0",
        "broker": "7d5f6d43.156514",
        "x": 976,
        "y": 355,
        "wires": [
            [
                "9e04ff3c.e5ced8"
            ]
        ]
    },
    {
        "id": "1ea4007d.c03308",
        "type": "mqtt in",
        "z": "1033d852.cbfa6",
        "name": "spirit_level/z",
        "topic": "spirit_level/z",
        "qos": "0",
        "broker": "7d5f6d43.156514",
        "x": 968,
        "y": 402,
        "wires": [
            [
                "9e04ff3c.e5ced8"
            ]
        ]
    },
    {
        "id": "9e04ff3c.e5ced8",
        "type": "switch",
        "z": "1033d852.cbfa6",
        "name": "xyw",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "x",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "y",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "z",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 1115.5,
        "y": 380.5,
        "wires": [
            [
                "604c831a.2f454c"
            ],
            [
                "fa5f5cd8.a756e"
            ],
            [
                "10eceafb.751985"
            ]
        ]
    },
    {
        "id": "f9ed3236.6b4db",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "python3 $HOME/Digital_Culture_Server/Python_Scripts/osc_client.py -n",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Next Program",
        "x": 340,
        "y": 476,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "47963052.3d0f38",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "Next Program",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 112,
        "y": 495,
        "wires": [
            [
                "f9ed3236.6b4db"
            ]
        ]
    },
    {
        "id": "d0442b82.80aec8",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "knob1",
        "func": "var local= msg.payload || {}\nmsg.payload= local\nglobal.set('k1',local);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 652.5,
        "y": 193,
        "wires": [
            [
                "13af7a46.16a0c6"
            ]
        ]
    },
    {
        "id": "f66cdf03.00cc38",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "x",
        "payload": "555",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "bc57bc2e.2ec7d8"
            ]
        ]
    },
    {
        "id": "13af7a46.16a0c6",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "joined",
        "func": "var local = [global.get('k1'),global.get('k2'),global.get('k3'),global.get('k4'), global.get('k5'), global.get('k6')]\n\nmsg.payload = global.get('k1') + \" \" + global.get('k2') + \" \" + global.get('k3') + \" \" + global.get('k4') + \" \" +  global.get('k5') + \" \" +  global.get('k6')\ncontext.set('knobs',local);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 802.5,
        "y": 300,
        "wires": [
            [
                "fcfffd4b.8a93b8"
            ]
        ]
    },
    {
        "id": "6340bf46.dd522",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "knob2",
        "func": "var local= msg.payload || {}\nmsg.payload= local\nglobal.set('k2',local);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 652,
        "y": 230,
        "wires": [
            [
                "13af7a46.16a0c6"
            ]
        ]
    },
    {
        "id": "b07ba3e3.49e7",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "y",
        "payload": "1111",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 534.5,
        "y": 227,
        "wires": [
            [
                "6340bf46.dd522"
            ]
        ]
    },
    {
        "id": "2e1c6879.22144",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "knob3",
        "func": "var local= msg.payload || {}\nmsg.payload= local\nglobal.set('k3',local);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 651.5,
        "y": 266,
        "wires": [
            [
                "13af7a46.16a0c6"
            ]
        ]
    },
    {
        "id": "6f00db2a.b97d34",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "y",
        "payload": "55",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 538,
        "y": 266,
        "wires": [
            [
                "2e1c6879.22144"
            ]
        ]
    },
    {
        "id": "fd1c2ff5.d0098",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "knob4",
        "func": "var local= msg.payload || {}\nmsg.payload= local\nglobal.set('k4',local);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 651.5,
        "y": 304,
        "wires": [
            [
                "13af7a46.16a0c6"
            ]
        ]
    },
    {
        "id": "f31793bb.370f38",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "y",
        "payload": "66",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 538,
        "y": 304,
        "wires": [
            [
                "fd1c2ff5.d0098"
            ]
        ]
    },
    {
        "id": "f1f2c70d.8f6958",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "knob5",
        "func": "var local= msg.payload || {}\nmsg.payload= local\nglobal.set('k5',local);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 648,
        "y": 340,
        "wires": [
            [
                "13af7a46.16a0c6"
            ]
        ]
    },
    {
        "id": "dcc1abdf.d5926",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "y",
        "payload": "999",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 534.5,
        "y": 340,
        "wires": [
            [
                "f1f2c70d.8f6958"
            ]
        ]
    },
    {
        "id": "a3e3d11e.caf6b8",
        "type": "function",
        "z": "1033d852.cbfa6",
        "name": "knob6",
        "func": "var local= msg.payload || {}\nmsg.payload= local\nglobal.set('k6',local);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 645.5,
        "y": 377,
        "wires": [
            [
                "13af7a46.16a0c6"
            ]
        ]
    },
    {
        "id": "d35df5b3.8d21e",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "",
        "topic": "y",
        "payload": "666",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 532,
        "y": 377,
        "wires": [
            [
                "a3e3d11e.caf6b8"
            ]
        ]
    },
    {
        "id": "fcfffd4b.8a93b8",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "python3 $HOME/Digital_Culture_Server/Python_Scripts/osc_client.py -k",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "ETC Send",
        "x": 812,
        "y": 348,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1b263844.2b2ea",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "python3 $HOME/Digital_Culture_Server/Python_Scripts/osc_client.py -t",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Trigger",
        "x": 334,
        "y": 421,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c649bd63.a03978",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "Off or Trigger",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 112,
        "y": 456,
        "wires": [
            [
                "1b263844.2b2ea"
            ]
        ]
    },
    {
        "id": "a3c83d9.41ecf4",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "On",
        "topic": "",
        "payload": "-1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 89,
        "y": 419,
        "wires": [
            [
                "1b263844.2b2ea"
            ]
        ]
    },
    {
        "id": "92bd6033.796648",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "python3 $HOME/Digital_Culture_Server/Python_Scripts/osc_client.py -s",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Screen",
        "x": 325,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "845bb6a5.3c9b5",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "On",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 89,
        "y": 377,
        "wires": [
            [
                "92bd6033.796648"
            ]
        ]
    },
    {
        "id": "dd9d63e3.616e1",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "Off",
        "topic": "",
        "payload": "-1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 87,
        "y": 342,
        "wires": [
            [
                "92bd6033.796648"
            ]
        ]
    },
    {
        "id": "ec0a3094.4d27a",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "python3 $HOME/Digital_Culture_Server/Python_Scripts/osc_client.py -o",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Video Synth Menu",
        "x": 356,
        "y": 308,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "30ffadcc.6c2d9a",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "Toggle",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 197,
        "y": 304,
        "wires": [
            [
                "ec0a3094.4d27a"
            ]
        ]
    },
    {
        "id": "37e2ba8d.40d2fe",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "echo ''",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "pdsend",
        "x": 1460.5,
        "y": 527,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "85ff4926.f2a44",
        "type": "template",
        "z": "1033d852.cbfa6",
        "name": "pd send x to vol",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"vol\" {{payload}}|/usr/bin/pdsend 3000 192.168.1.115 udp",
        "x": 1248.5,
        "y": 470.5,
        "wires": [
            [
                "37e2ba8d.40d2fe"
            ]
        ]
    },
    {
        "id": "f337fd32.c9bb2",
        "type": "template",
        "z": "1033d852.cbfa6",
        "name": "pd send y to notein",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"notein\" {{payload}}|/usr/bin/pdsend 3000 192.168.1.115 udp",
        "x": 1259,
        "y": 514,
        "wires": [
            [
                "37e2ba8d.40d2fe"
            ]
        ]
    },
    {
        "id": "5981b59c.075a6c",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "python3 $HOME/Digital_Culture_Server/Python_Scripts/osc_client.py -a",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "AutoClear",
        "x": 313,
        "y": 257,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c404d4ef.81fec",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "Toggle",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 83,
        "y": 258,
        "wires": [
            [
                "5981b59c.075a6c"
            ]
        ]
    },
    {
        "id": "1dce500d.a52738",
        "type": "exec",
        "z": "1033d852.cbfa6",
        "command": "python3 $HOME/Digital_Culture_Server/Python_Scripts/osc_client.py -s",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Screen Capture",
        "x": 327,
        "y": 210,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e366f01d.fa4f28",
        "type": "inject",
        "z": "1033d852.cbfa6",
        "name": "Toggle",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 77,
        "y": 211,
        "wires": [
            [
                "1dce500d.a52738"
            ]
        ]
    },
    {
        "id": "bc57bc2e.2ec7d8",
        "type": "random",
        "z": "1033d852.cbfa6",
        "name": "",
        "low": "0",
        "high": "1200",
        "inte": "true",
        "x": 552.5,
        "y": 126,
        "wires": [
            [
                "d0442b82.80aec8"
            ]
        ]
    },
    {
        "id": "7d5f6d43.156514",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.55",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
